.faq{
    padding-bottom:6rem;
    padding-inline:10px;
    h1{
        @include font($barlow, 500, clamp(26px, 5vw, 31px), normal);
        margin-bottom:4rem;
        text-align:center;
    }

    .div{
        background-color: $white;
        border-radius: 10px;
        border:1px solid $platinum;
        margin-inline:auto;
        margin-bottom:1.5rem;
        max-width:600px;
        hr{
           border:none;
            height:.7px;
            background-color:$platinum;
        }
        p{
            @include font($heebo, 400, clamp(16px, 2vw, 18px), normal);
            color: $grey;
            opacity:.9;
            padding-block:1rem;
            margin-left: 1rem;
        }
        div{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-block:.3rem;
        padding-left: 1rem;
        h3{
            @include font($barlow, 600, clamp(16px, 2vw, 18px), normal);
        }
        button{
            background-color:$white;
            border:none;
        }
        }
    }

    article{
        margin-top:10rem;
        h1{
            margin-inline:auto;
            @include font($barlow, 500, clamp(30px, 5vw, 53px), normal);
            max-width:800px;
            color:$blue;
        }

        p{
            margin-top:-1em;
            color:$grey;
            @include font($heebo, 300, clamp(18px, 2vw, 21px), normal);
            margin-inline:auto;
            text-align:center;
            max-width:900px;
        }

        div{
            display:flex;
            align-items: center;
            margin-top:3rem;
            button{
                padding-inline: 2rem;
                padding-block:1rem;
                border-radius: 30px;
                background-color:$red;
                text-transform:uppercase;
                color:$white;
                @include font($barlow, 700, clamp(14px, 2vw, 18px), italic);
                letter-spacing: 1px;
            }
        }
    }
}