footer{
    padding-top:4rem;
    background-color:white;
    .nav-1{
        padding-inline:25px;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        margin-bottom: 4rem;
        img{
            max-width:100%;
        }
        ul{
            display:flex;
            gap:2rem;
            li{
                font-size: clamp(15px, 2.5vw, 30px);
                i{
                    color:$skyblue;
                }
            }
        }
    }

    section{
        display:flex;
        flex-wrap:wrap;
        gap:2rem;
        padding-inline:25px;
        .span2{
            h2{
                @include font($barlow, 500, clamp(24px, 3vw, 26px), normal);
                color:$blue;
                margin-bottom:1rem;                                 
            }
            p{
                @include font($heebo, 300, clamp(15px, 2vw, 18px), normal);
                max-width:400px;
            }
            form{
                margin-top:1rem;
               display:flex;
               gap:1rem;
                input{
                    @include font($barlow, 500, clamp(14px, 2vw, 18px), normal);
                    padding-inline:1rem;
                    padding-block:.5rem;
                    border-radius:10px;
                    border: 1px solid $platinum;
                    opacity:.7;
                }
                button{
                    padding-inline: 2rem;
                    padding-block:1rem;
                    border-radius: 30px;
                    background-color:$red;
                    text-transform:uppercase;
                    color:$white;
                    @include font($barlow, 700, clamp(14px, 2vw, 18px), italic);
                    letter-spacing: 1px;
                }
            }
        }
        .span3{
            margin-top: 4rem;
            margin-bottom: 3rem;
            display: flex;
            flex-wrap:wrap;
            gap:4rem;
            h2{
                letter-spacing: 2px;
                color:$black;
                @include font($heebo, 700, clamp(14px, 2vw, 18px), normal);
                text-transform:uppercase;
                margin-bottom: 1rem;
            }
            ul{
                li{
                    list-style-type:none;
                    line-height: 30px;
                    a{
                        text-decoration:none;
                        color:$grey;
                        @include font($heebo, 400, clamp(15px, 2vw, 17px), normal);
                    }
                }
            }
        }
    }
    hr{
        border:none;
            height:.7px;
            background-color:$platinum;
    }
    .span1{
        display:flex;
        justify-content: space-between;
        gap:.5rem;
        flex-wrap:wrap;
        color:$grey;
        padding-block:1rem;
        padding-inline:1rem;
        ul{
            display:flex;
            gap:1rem;
            @include font($heebo, 400, clamp(13px, 2vw, 15px), normal);
            li{
                list-style-type: none;
            }
        }
    }
}